<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset=" UTF-8 "/>

    <title>Quiz Home</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <!-- michael css -->
    <link rel="stylesheet" th:href="@{/main.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" th:href="@{/home}">
            <img th:src="@{/images/brain.png}" width="30" height="30" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categories}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
            </ul>
                <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out" class="btn"/>
                </form>

        </div>
    </nav>
    <!-- header end -->

    <div class="container">
        <div class="jumbotron text-center">
            <h4 style="display: inline;">Hello, </h4><h4 th:text="${#authentication.getPrincipal().getUsername()}" style="display: inline;"></h4>
            <hr/>
            <p>This is the homepage of a SIGNED IN user. Located at "/home".
                It would be good to get some ideas on what to display as the default view,
                for example; should we put a leaderboard snippet here or most recent categories etc.
            <div sec:authorize="hasRole('ROLE_ADMIN')">
            <p class="greeting-id">The ID is </p>
            <p class="greeting-content">The content is </p>
            </div>
            </p>
        </div>
    </div>


<!-- bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>